<?xml version="1.0"?>
<model>
  <name>underbrush</name>
  <version>1.0</version>
  <sdf version='1.4'>compliant_beam_horizontal.sdf</sdf>

  <author>
   <name>Justin Yim</name>
   <email>jkyim@andrew.cmu.edu</email>
  </author>

  <description>
    Compliant beam to simulate underbrush
  </description>
</model>