<launch>
    <arg name="robot_type" default="spirit"/>
    <arg name="load_robot_params" default="false"/>
    
    <arg name="dollar" value="$"/>
    <arg name="robot_path" value="$(arg dollar)(find $(arg robot_type)_description)"/>

    <rosparam command="load" file="$(find global_body_planner)/global_body_planner.yaml" />
    <rosparam command="load" file="$(find local_planner)/local_planner.yaml" />
    <rosparam command="load" file="$(find nmpc_controller)/nmpc_controller.yaml" />
    <rosparam command="load" file="$(find robot_driver)/robot_driver.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/terrain_map_publisher.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/grid_map_visualization.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/remote_heartbeat.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/teleop_twist_keyboard.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/rviz_interface.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/trajectory_publisher.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/topics_global.yaml" />

    <param name="robot_description_sdf" textfile="$(arg robot_path)/sdf_mesh/$(arg robot_type).sdf" />
    <param name="robot_description" command="cat $(arg robot_path)/urdf/$(arg robot_type).urdf" />

    <group if="$(arg load_robot_params)">
        <include file="$(find quad_utils)/launch/load_robot_params.launch"/>
    </group>
</launch>
