<launch>
    <arg name="robot_type" default="spirit"/>
    
    <arg name="dollar" value="$"/>
    <arg name="robot_path" value="$(arg dollar)(find $(arg robot_type)_description)"/>



    <rosparam command="load" file="$(find quad_utils)/config/topics_robot.yaml" />
    <param name="enable_statistics" type="bool" value="true" />

    
    <rosparam command="load" file="$(find quad_utils)/config/$(arg robot_type).yaml" />
    <param name="robot_description_sdf" textfile="$(arg robot_path)/sdf_mesh/$(arg robot_type).sdf" />
    <param name="robot_description" command="cat $(arg robot_path)/urdf/$(arg robot_type).urdf" />
    
</launch>
