<launch>
    <arg name="robot_type" default="spirit"/>
    <arg name="load_robot_params" default="false"/>

    <rosparam command="load" file="$(find global_body_planner)/global_body_planner.yaml" />
    <rosparam command="load" file="$(find local_planner)/local_planner.yaml" />
    <rosparam command="load" file="$(find nmpc_controller)/nmpc_controller.yaml" />
    <rosparam command="load" file="$(find robot_driver)/robot_driver.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/terrain_map_publisher.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/grid_map_visualization.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/remote_heartbeat.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/teleop_twist_keyboard.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/rviz_interface.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/trajectory_publisher.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/topics_global.yaml" />

    <group if="$(eval arg('robot_type') == 'spirit')">
        <param name="robot_description_sdf" textfile="$(find spirit_description)/sdf_mesh/spirit.sdf" />
        <param name="robot_description" command="cat $(find spirit_description)/urdf/spirit.urdf" />
    </group>

    <group if="$(eval arg('robot_type') == 'a1')">
        <param name="robot_description_sdf" textfile="$(find a1_description)/sdf_mesh/a1.sdf" />
        <param name="robot_description" command="cat $(find a1_description)/urdf/a1.urdf" />
    </group>

    <group if="$(eval arg('robot_type') == 'new_platform')">
        <param name="robot_description_sdf" textfile="$(find new_platform_description)/sdf_mesh/new_platform.sdf" />
        <param name="robot_description" command="cat $(find new_platform_description)/urdf/new_platform.urdf" />
    </group>

    <group if="$(arg load_robot_params)">
        <include file="$(find quad_utils)/launch/load_robot_params.launch"/>
    </group>
</launch>
