<launch>
    <arg name="robot_type" default="spirit"/>

    <rosparam command="load" file="$(find quad_utils)/config/topics.yaml" />
    <param name="enable_statistics" type="bool" value="true" />

    <group if="$(eval arg('robot_type') == 'spirit')">
        <rosparam command="load" file="$(find quad_utils)/config/spirit.yaml" />
    </group>

    <group if="$(eval arg('robot_type') == 'a1')">
        <rosparam command="load" file="$(find quad_utils)/config/a1.yaml" />
    </group>
</launch>