<launch>
    <include file="$(find quad_utils)/launch/load_params.launch" />

    <!-- Launch the node to publish open loop control-->
    <node name="open_loop_controller" pkg="open_loop_controller" type="open_loop_controller_node" output="screen"/>

    <!-- Launch the mblink converter-->
    <node name="mblink_converter" pkg="mblink_converter" type="mblink_converter_node" output="screen"/>
    
</launch>
