<launch>

    <include file="$(find quad_utils)/launch/load_params.launch" />

    <arg name="controller" default="open_loop"/>
    <arg name="body_planner" default="global"/>
    <arg name="logging" default="false"/>

    <include file="$(find quad_utils)/launch/mapping.launch" />

    <include file="$(find quad_utils)/launch/planning.launch">
        <arg name="body_planner" value="$(arg body_planner)" />
    </include>

    <include file="$(find quad_utils)/launch/visualization.launch" />

    <include file="$(find quad_utils)/launch/robot_gazebo_driver.launch">
        <arg name="controller" value="$(arg controller)" />
        <arg name="logging" value="$(arg logging)" />
    </include>

</launch>
