<launch>

    <!-- Launch the node to publish the full plan -->

    <include file="$(find quad_utils)/launch/load_params.launch" />

    <include file="$(find quad_utils)/launch/mapping.launch" />

    <include file="$(find quad_utils)/launch/visualization.launch" />

    <node name="plan_publisher" pkg="quad_utils" type="trajectory_publisher_node" output="screen"/>

</launch>
