<launch>
  <arg name="controller"    default="inverse_dynamics"/>
  <arg name="init_pose"     default="-x 0.0 -y 0.0 -z 0.5"/>
  <arg name="namespace"     default="robot_1"/>
  <arg name="robot_type"    default="spirit"/>

  <!-- Declare tf prefix for plugins -->
  <param name="tf_prefix"   value="$(arg namespace)" />

  <!-- Spawn SDF model -->
  <node name="spawn_sdf_model" pkg="gazebo_ros" type="spawn_model" args="-sdf -param robot_description_sdf -model $(arg namespace) $(arg init_pose)" output="screen"/> -->
  
  <!-- Start Quad-SDK robot driver -->
  <include file="$(find quad_utils)/launch/robot_driver.launch">
    <arg name="robot_type" value="$(arg robot_type)"/>
    <arg name="controller" value="$(arg controller)"/>
    <arg name="mocap" value="false"/>
    <arg name="is_hardware" value="false"/>
  </include>

  <!-- Start gazebo controller plugins -->
  <node name="controller_spawner"
      pkg="controller_manager"
      type="spawner"
      respawn="false"
      output="screen"
      args="joint_controller joint_state_controller"/>

  <!-- Load the contact state publisher -->
  <node name="contact_state_publisher" pkg="gazebo_scripts" type="contact_state_publisher_node" output="screen"/>

</launch>
