<!-- 
MIT License (modified)

Copyright (c) 2020 The Trustees of the University of Pennsylvania
Authors:
Vasileios Vasilopoulos <vvasilo@seas.upenn.edu>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this **file** (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE. 
-->

<launch>
  <arg name="gui"             default="true"/>
  <arg name="paused"          default="false"/>
  <arg name="software"        default="true"/>
  <arg name="controller"      default="inverse_dynamics"/>
  <arg name="live_plot"       default="false"/>
  <arg name="dash"            default="false"/>
  <arg name="world"           default="flat"/>
  <param name="/use_sim_time" value="true" />


    <!-- Load the parameters and the sdf description -->
  <include file="$(find quad_utils)/launch/load_params.launch" />

<!-- Launch the Quad world with specific physics parameters -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="world_name" value="$(find gazebo_scripts)/worlds/$(arg world)/$(arg world).world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="physics" value="ode"/>
    <arg name="verbose" value="$(arg gui)"/>
  </include>
  

  <group ns="/robot_1">
  <include file="$(find quad_utils)/launch/robot.launch">
  <arg name="rotors"          default="false"/>
  <arg name="software"        default="true"/>
  <arg name="controller"      default="inverse_dynamics"/>
  <arg name="init_pose" value="-x 0.0 -y 0.0 -z 0.5" />
  <arg name="namespace" value="robot_1" />
  </include>

  <include file="$(find quad_utils)/launch/mapping.launch" >
    <arg name="input_type" value="mesh"/>
    <arg name="world" value="$(arg world)"/>
  </include>
  </group>

  <group ns="/robot_2">
  <include file="$(find quad_utils)/launch/robot.launch">
  <arg name="rotors"          default="false"/>
  <arg name="software"        default="true"/>
  <arg name="controller"      default="inverse_dynamics"/>
  <arg name="init_pose" value="-x 0.0 -y 3.0 -z 0.5" />
  <arg name="namespace" value="robot_2" />
  </include>

  <include file="$(find quad_utils)/launch/mapping.launch" >
    <arg name="input_type" value="mesh"/>
    <arg name="world" value="$(arg world)"/>
  </include>
  </group>

   <!-- Launch the nodes to publish all the robot tfs and visualize in rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find quad_utils)/rviz/example_with_terrain.rviz"/>

  <group if="$(arg live_plot)">
    <node name="plotjuggler" pkg="plotjuggler" type="plotjuggler" 
            args="--layout $(find quad_utils)/config/plotjuggler_config.xml" />
    </group>

  <group if="$(arg dash)">
        <node name = "rqt_dashboard" pkg = "rqt_gui" type = "rqt_gui" respawn = 
        "false" output = "screen" args = "--perspective-file $(find quad_utils)/config/dashboard.perspective"/>
  </group>
  
</launch>