<launch>
  <arg name="live_plot"/>
  <arg name="software"/>
  <arg name="controller"/>
  <arg name="rotors"/>
  <arg name="namespace" default="robot_1" />
  <arg name="init_pose"/>
  
  <param name="tf_prefix" value="$(arg namespace)_tf" />


  <group if="$(arg rotors)">
    <!-- use more accurate but slower rotor model -->
    <param name="robot_description_sdf" textfile="$(find spirit_description)/sdf_mesh/spirit_rotors.sdf" />
  </group>
  <group unless="$(arg rotors)">
    <!-- use more accurate but slower rotor model -->
    <param name="robot_description_sdf" textfile="$(find spirit_description)/sdf_mesh/spirit.sdf" />
  </group>

  <group if="$(arg software)">
    <!-- Spawn SDF model -->
    <node name="spawn_sdf_model" pkg="gazebo_ros" type="spawn_model" args="-sdf -param robot_description_sdf -model $(arg namespace) $(arg init_pose)" output="screen"/>
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" 
          name="robot_state_publisher" output="screen">
    </node> 
    
    <include file="$(find quad_utils)/launch/robot_driver.launch">
      <arg name="controller" value="$(arg controller)"/>
      <arg name="mocap" value="false"/>
      <arg name="is_hw" value="false"/>
    </include>

    <rosparam file="$(find gazebo_scripts)/config/spirit_control.yaml" command="load"/>
  
    <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        args="joint_controller joint_state_controller"/>

    <!-- Load the contact state publisher -->
    <node name="contact_state_publisher" pkg="gazebo_scripts" type="contact_state_publisher_node" output="screen"/>

    <include file="$(find quad_utils)/launch/planning.launch">
    </include>

    <include file="$(find quad_utils)/launch/visualization.launch">
      <arg name="live_plot" value="$(arg live_plot)"/>
      <arg name="namespace" value="$(arg namespace)"/>
    </include>
  </group>

</launch>