<launch>
    <include file="$(find quad_utils)/launch/load_params.launch" />

    <arg name="proxy" default="false"/>
    <arg name="mocap" default="true"/>
    <arg name="logging" default="false"/>
    <arg name="controller" default="inverse_dynamics"/>
    <arg name="is_hw" default="true"/>

    <!-- Launch the robot driver node -->
    <node name="robot_driver" pkg="robot_driver" type="robot_driver_node" output="screen">
        <param name="controller" value="$(arg controller)"/>
        <param name="is_hw" value="$(arg is_hw)"/>
    </node>

    <!-- Launch the leg overrider -->
    <node name="leg_overrider" pkg="robot_driver" type="leg_overrider_node" output="screen"/>

    <!-- <include file="$(find quad_utils)/launch/estimation.launch" /> -->

    <!-- Launch the robot_proxy if specified-->
    <group if="$(arg proxy)">
        <node name="robot_proxy" pkg="quad_utils" type="robot_proxy_node" output="screen"/>
        <include file="$(find quad_utils)/launch/mocap.launch" />
    </group>

    <!-- Launch the mocap node if specified-->
    <group if="$(arg mocap)">
        <include file="$(find quad_utils)/launch/mocap.launch" />
    </group>

    <!-- Record into bag if specified-->
    <group if="$(arg logging)">
        <include file="$(find quad_utils)/launch/logging.launch" />
    </group>

</launch>
