<launch>
    <include file="$(find realsense2_camera)/launch/rs_t265.launch" >
      <arg name="enable_fisheye1"          value="true"/>
      <arg name="enable_fisheye2"          value="true"/>
      <arg name="fisheye_fps"              value="30"/>
      <arg name="gyro_fps"                 value="200"/>
      <arg name="accel_fps"                value="62"/>
      <arg name="enable_gyro"              value="false"/>
      <arg name="enable_accel"             value="false"/>
      <arg name="publish_odom_tf"          value="true"/>
  </include>
</launch>

<!-- /camera/odom/sample
type nav_msg/odometry  pose->pose->position/orientation -->