<launch>
  <include file="$(find realsense2_camera)/launch/rs_t265.launch">
    <arg name="enable_fisheye1" value="true"/>
    <arg name="enable_fisheye2" value="true"/>
    <arg name="fisheye_fps" value="30"/>
    <arg name="gyro_fps" value="200"/>
    <arg name="accel_fps" value="62"/>
    <arg name="enable_gyro" value="false"/>
    <arg name="enable_accel" value="false"/>
    <arg name="publish_odom_tf" value="true"/>
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_map_to_cam_odom_broadcaster" 
        args="0.094 0 0.174 0 0 0 1 map camera_odom_frame" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_cam_pose_to_body_broadcaster" 
        args="-0.094 0 -0.106 0 0 0 1 camera_pose_frame robot_1_ground_truth/body" />
 
  <node name="camera_pose_frame_tf_listener" pkg="quad_utils" type="tf_to_pose_publisher.py" 	output="screen"/>

</launch>

<!-- /camera/odom/sample
type nav_msg/odometry  pose->pose->position/orientation -->
