
<launch>
  <arg name="gui"             default="false"/>
  <arg name="paused"          default="false"/>
  <arg name="software"        default="true"/>
  <arg name="controller"      default="inverse_dynamics"/>
  <arg name="live_plot"       default="false"/>
  <arg name="mblink"          default="false"/>
  <arg name="world"           default="flat"/>

  <include file="$(find quad_utils)/launch/quad_gazebo.launch" >
    <arg name="gui"             value="$(arg gui)" />
    <arg name="paused"          value="$(arg paused)" />
    <arg name="software"        value="$(arg software)" />
    <arg name="controller"      value="$(arg controller)" />
    <arg name="live_plot"       value="$(arg live_plot)" />
    <arg name="mblink"          value="$(arg mblink)" />
    <arg name="world"           value="$(arg world)" />
  </include>

  <!-- Load underbrush compliant elements -->
  <param name="underbrush_description_sdf" textfile="$(find underbrush_description)/sdf/compliant_beam_horizontal.sdf" />

  <param name="cord_description_sdf" textfile="$(find underbrush_description)/sdf/compliant_cord.sdf" />

  <node name="spawn_underbrush" pkg="gazebo_ros" type="spawn_model" args="-sdf -param cord_description_sdf -model underbrush -x 0.6 -y -0.5 -z 0.2" output="screen"/>

  <!--
  <node name="spawn_underbrush" pkg="gazebo_ros" type="spawn_model" args="-sdf -param underbrush_description_sdf -model underbrush -x 0.6 -y -0.2 -z 0.1" output="screen"/>

  <node name="spawn_underbrush1" pkg="gazebo_ros" type="spawn_model" args="-sdf -param underbrush_description_sdf -model underbrush1 -x 0.6 -y -0.2 -z 0.2" output="screen"/>

  <node name="spawn_underbrush2" pkg="gazebo_ros" type="spawn_model" args="-sdf -param underbrush_description_sdf -model underbrush2 -x 0.6 -y -0.2 -z 0.3" output="screen"/>

  <node name="spawn_underbrush3" pkg="gazebo_ros" type="spawn_model" args="-sdf -param underbrush_description_sdf -model underbrush3 -x 0.8 -y -0.2 -z 0.1" output="screen"/>

  <node name="spawn_underbrush4" pkg="gazebo_ros" type="spawn_model" args="-sdf -param underbrush_description_sdf -model underbrush4 -x 0.8 -y -0.2 -z 0.2" output="screen"/>

  <node name="spawn_underbrush5" pkg="gazebo_ros" type="spawn_model" args="-sdf -param underbrush_description_sdf -model underbrush5 -x 0.8 -y -0.2 -z 0.3" output="screen"/>
  -->
</launch>