<launch>

    <param name="robot_description" textfile="$(find cyberdog_description)/urdf/cyberdog.urdf"/>

    <!-- send fake joint values -->
    <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node> -->

    <node
        name="joint_state_publisher_gui"
        pkg="joint_state_publisher_gui"
        type="joint_state_publisher_gui" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="1000.0"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
        args="-d $(find cyberdog_description)/launch/test.rviz"/>

</launch>