docs/
*.pyc
*.vscode
**/build/
*.vscode
external/ipopt/*
!external/ipopt/.gitkeep
*.csv
robot_driver/include/robot_driver/models/
matlab_msg_gen/

# Large bag files
quad_logger/bags/**/*.mcap
quad_logger/bags/archive/**/*.mcap
