[submodule "external/rbdl-orb"]
	path = external/rbdl-orb
	url = https://github.com/ORB-HD/rbdl-orb
[submodule "external/unitree_sdk2"]
	path = external/unitree_sdk2
	url = https://github.com/unitreerobotics/unitree_sdk2.git
