<?xml version="1.0"?>
<model>
  <name>spirit</name>
  <version>1.0</version>
  <sdf>spirit.sdf</sdf>
  <author>
    <name>Nikolai Flowers</name>
    <email>nflowers@andrew.cmu.edu</email>
  </author>
  <description>
    Model of the spirit body with .stl meshes for visualization
  </description>
</model>
