<?xml version="1.0"?>
<model>
  <name>cyberdog</name>
  <version>1.0</version>
  <sdf>cyberdog.sdf</sdf>
  <author>
    <name>Fan Ziqi</name>
    <email>fanziqi614@gmail.com</email>
  </author>
  <description>
    Model of the cyberdog body with .stl meshes for visualization
  </description>
</model>
