<?xml version="1.0" ?>
<model>
    <name>split_belt_treadmill</name>
    <version>1.0</version>
    <sdf version="1.6">split_belt.sdf</sdf>
    <author>
        <name>Jingbo Zhang</name>
        <email>jbzh23@gmail.com</email>
    </author>
    <description>
        A treadmill with two independent belts for quadurped robot experiments.
    </description>
</model>