<?xml version="1.0" encoding="utf-8"?>
<mujoco model="gap_20cm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="meshdir" default=""/>
  <xacro:arg name="mjcf_path" default=""/>
  <xacro:arg name="terrain_mesh" default=""/>

  <compiler
    angle="radian"
    meshdir="$(arg meshdir)"
    texturedir="$(arg meshdir)"
    autolimits="true"/>

  <include file="$(arg mjcf_path)"/>

  <asset>
    <mesh name="terrain" file="$(arg terrain_mesh)"/>
  </asset>

  <worldbody>
    <light directional="true" diffuse=".8 .8 .8" specular=".2 .2 .2" pos="0 0 5" dir="0 0 -1"/>
    <geom name="floor" type="mesh" mesh="terrain" pos="-2 -2 -0.1" rgba="0.8 0.9 0.8 1"/>
  </worldbody>
</mujoco>
