<?xml version="1.0" encoding="utf-8"?>
<mujoco model="rough_40cm_huge" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="meshdir" default=""/>
  <xacro:arg name="mjcf_path" default=""/>

  <xacro:arg name="terrain_heightmap" default=""/>

  <compiler
    angle="radian"
    meshdir="$(arg meshdir)"
    texturedir="$(arg meshdir)"
    autolimits="true"/>

  <size memory="256M"/>


  <option
    timestep="0.002"
    iterations="80"
    ls_iterations="20"
    tolerance="1e-6"
    cone="elliptic"
    impratio="5"
    noslip_iterations="5"
    noslip_tolerance="1e-6"
    jacobian="dense"
    integrator="implicit"
    >
    <flag override="enable"/>
  </option>

  <include file="$(arg mjcf_path)"/>


  <asset>
    <hfield name="terrain" file="$(arg terrain_heightmap)" size="15.0 15.0 2.6 0.5"/>
  </asset>

  <worldbody>
    <light directional="true" diffuse=".8 .8 .8" specular=".2 .2 .2" pos="0 0 5" dir="0 0 -1"/>

    <geom name="floor" type="hfield" hfield="terrain" pos="0 0 -0.1" rgba="0.8 0.9 0.8 1"
          priority="2" condim="6"
          friction="1.5 0.1 0.05"
          solref="0.007 1"
          solimp="0.95 0.99 0.002"/>
  </worldbody>
</mujoco>
