<?xml version="1.0"?>
<robot>
    <!-- ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/a1</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
        <plugin filename="libground_truth_estimator.so" name="ground_truth_estimator">
            <updateRateHZ>500.0</updateRateHZ>
        </plugin>
    </gazebo>
    <!-- Show the trajectory of trunk center. -->
    <!-- <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>10</frequency>
            <plot>
                <link>body</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Yellow</material>
            </plot>
        </plugin>
    </gazebo> -->

    <!-- Show the trajectory of foot. You can add another trajectory about another foot. -->
    <!-- <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>100</frequency>
            <plot>
                <link>FL_foot</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Green</material>
            </plot>
        </plugin>
    </gazebo> -->

    <gazebo>
        <plugin filename="libgazebo_ros_force.so" name="gazebo_ros_force">
            <bodyName>trunk</bodyName>
            <topicName>/apply_force/trunk</topicName>
        </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>1000</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>trunk_imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>1000.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!-- Foot contacts. -->
    <!-- <gazebo reference="lower0">
        <sensor name="FR_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>FR_calf_fixed_joint_lump__FR_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="lower1">
        <sensor name="FL_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>FL_calf_fixed_joint_lump__FL_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="lower2">
        <sensor name="RR_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>RR_calf_fixed_joint_lump__RR_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="lower3">
        <sensor name="RL_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>RL_calf_fixed_joint_lump__RL_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo> -->
    <gazebo reference="toe0">
        <sensor name="toe0_contact" type="contact">
            <plugin name="toe0_plugin" filename="libgazebo_ros_bumper.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>500</updateRate>
                <bumperTopicName>gazebo/toe0_contact_state</bumperTopicName>
                <frameName>world</frameName>
            </plugin>
            <contact>
                <collision>toe0_collision</collision>
            </contact>
            <update_rate>500</update_rate>
        </sensor>
    </gazebo>
    <gazebo reference="toe1">
        <sensor name="toe1_contact" type="contact">
            <plugin name="toe1_plugin" filename="libgazebo_ros_bumper.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>500</updateRate>
                <bumperTopicName>gazebo/toe1_contact_state</bumperTopicName>
                <frameName>world</frameName>
            </plugin>
            <contact>
                <collision>toe1_collision</collision>
            </contact>
            <update_rate>500</update_rate>
        </sensor>
    </gazebo>
    <gazebo reference="toe2">
        <sensor name="toe2_contact" type="contact">
            <plugin name="toe2_plugin" filename="libgazebo_ros_bumper.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>500</updateRate>
                <bumperTopicName>gazebo/toe2_contact_state</bumperTopicName>
                <frameName>world</frameName>
            </plugin>
            <contact>
                <collision>toe2_collision</collision>
            </contact>
            <update_rate>500</update_rate>
        </sensor>
    </gazebo>
    <gazebo reference="toe3">
        <sensor name="toe3_contact" type="contact">
            <plugin name="toe3_plugin" filename="libgazebo_ros_bumper.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>500</updateRate>
                <bumperTopicName>gazebo/toe3_contact_state</bumperTopicName>
                <frameName>world</frameName>
            </plugin>
            <contact>
                <collision>toe3_collision</collision>
            </contact>
            <update_rate>500</update_rate>
        </sensor>
    </gazebo>

    <!-- Visualization of Foot contacts. -->
    <!-- <gazebo reference="toe0">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>FR_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="toe1">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>FL_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="toe2">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>RR_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="toe3">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>RL_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo> -->

    <gazebo reference="body">
        <material>Gazebo/Green</material>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="trunk">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

    <gazebo reference="stick_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="imu_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Red</material>
    </gazebo>

    <!-- FL leg -->
    <gazebo reference="hip0">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="upper0">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>0</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>
    <gazebo reference="lower0">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>0</self_collide>
    </gazebo>
    <gazebo reference="toe0">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>0</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

    <!-- RL leg -->
    <gazebo reference="hip1">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="upper1">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>0</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>
    <gazebo reference="lower1">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>0</self_collide>
    </gazebo>
    <gazebo reference="toe1">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>0</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

    <!-- FR leg -->
    <gazebo reference="hip2">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="upper2">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>0</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>
    <gazebo reference="lower2">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>0</self_collide>
    </gazebo>
    <gazebo reference="toe2">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>0</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

    <!-- RR leg -->
    <gazebo reference="hip3">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="upper3">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>0</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>
    <gazebo reference="lower3">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>0</self_collide>
    </gazebo>
    <gazebo reference="toe3">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>0</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp value="1000000.0"/>
        <kd value="1.0"/>
    </gazebo>

</robot>
