topics:
  joint_encoder: /mcu/state/jointURDF
  imu: /mcu/state/imu
  mocap: /mocap_node/spirit/pose
  terrain_map: /terrain_map
  body_plan: /body_plan_continuous
  discrete_body_plan: /body_plan_discrete
  foot_plan_continuous: /foot_plan_continuous
  foot_plan_discrete: /foot_plan_discrete
  body_force: /body_force
  joint_command: /spirit/joint_controller/command
  trajectory: /robot_plan
  state: # These should not change for the remapping to work in some launch files
    ground_truth: /state/ground_truth
    estimate: /state/estimate
    trajectory: /state/trajectory

  control:
    grfs: /control/grfs

  visualization:
    body_plan: /visualization/body_plan
    grf_plan: /visualization/grf_plan
    discrete_body_plan: /visualization/discrete_body_plan
    footstep_plan: /visualization/foot_plan_discrete
    joint_states:
      estimate: /visualization/joint_states/estimate
      ground_truth: /visualization/joint_states/ground_truth
      trajectory: /visualization/joint_states/trajectory
    foot_0_plan_continuous: /visualization/foot_0_plan_continuous
    foot_1_plan_continuous: /visualization/foot_1_plan_continuous
    foot_2_plan_continuous: /visualization/foot_2_plan_continuous
    foot_3_plan_continuous: /visualization/foot_3_plan_continuous
    
mpc_controller:
  update_rate: 50
  
ekf_estimator:
  joint_state_max_time: 20 # Milliseconds until we disregard last joint state message
  update_rate: 100

global_body_planner:
  update_rate: 10
  num_calls: 1            # Number of times to call the planner
  max_time: 1.5           # Minimum amount of time to run the planner (will replan to find better solutions until this duration is up)
  start_state: [0.0,0.0,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]
  goal_state: [2.0,0.0,0.3,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]
  committed_horizon: 0     # Committed duration of current plan (replan starting from state in current plan this far ahead), s
  state_error_threshold: 10 #0.25

twist_body_planner:
  update_rate: 10
  horizon_length: 5
  last_cmd_vel_msg_time_max: 2.0

teleop_twist_keyboard:
  repeat_rate: 30

local_footstep_planner:
  update_rate: 30
  grf_weight: 0.0
  max_footstep_horizon: 1.5
  num_cycles: 50
  period: 0.5
  ground_clearance: 0.1
  interp_dt: 0.03
  
contact_detection:
  update_rate: 250

ground_truth_publisher:
  mocap_rate: 100.0 # This must match the mocap frame rate or velocity estimates will be mis-scaled
  velocity_smoothing_weight: 0.5

terrain_map_publisher:
  update_rate: 5
  map_data_source: internal
  terrain_type: rough_terrain     # slope or rough_terrain

grid_map_visualization:
  grid_map_topic: /terrain_map
  grid_map_visualizations:
    - name: z_points
      type: point_cloud
      params:
       layer: z
    - name: elevation_grid
      type: occupancy_grid
      params:
       layer: z
       data_min: 0.08
       data_max: -0.16

body_force_estimator:
  update_rate_: 200

mblink_converter:
  update_rate: 500

open_loop_controller:
  update_rate: 500
  leg_phases: [0,0.5,0.5,0]
  stand_angles: [0,0.7,1]
  waypoint_ts: [0.2,0.2,0.2]
  waypoint_xs: [-0.12,0,0.12]
  waypoint_ys: [-0.24,-0.14,-0.24]
  interp_dt: 0.005
  stand_kp: [50,50,50]
  stand_kd: [2,2,2]
  walk_kp: [100,100,100]
  walk_kd: [1,1,1]
  use_diff_for_velocity: true
  control_mode_topic: /spirit/control_mode

map_frame: map

robot_proxy:
  update_rate: 100

visualization:
  update_rate: 30
  colors: # Specify as RGB triplets [0,255]
    front_feet: [0,45,114]      # Blue Thread
    back_feet: [120,159,144]    # Palladian Green
    net_grf: [0,132,61]         # Green Thread
    individual_grf: [0,132,61]  # Green Thread

trajectory_publisher:
  update_rate: 40
  interp_dt: 0.02
  playback_speed: 0.01
  traj_source: topic