<launch>

    <include file="$(find spirit_utils)/launch/load_params.launch" />

    <arg name="body_planner" default="global"/>
    <arg name="logging" default="false"/>

    <include file="$(find spirit_utils)/launch/planning.launch">
        <arg name="body_planner" value="$(arg body_planner)" />
    </include>

    <group if="$(arg logging)">
        <include file="$(find spirit_utils)/launch/logging.launch" />
    </group>

</launch>
