<launch>
  
    <include file="$(find spirit_utils)/launch/load_params.launch" />

    <arg name="with_gazebo" default="false"/>

    <group if="$(arg with_gazebo)">
        <rosparam param="terrain_map_publisher/map_data_source"> "internal" </rosparam>
    </group>

    <!-- Launch the node to generate simple terrain -->
    <node pkg="spirit_utils" type="terrain_map_publisher_node" name="terrain_map_publisher" output="screen" />

    <!-- Launch the grid map visualizer -->
    <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen"/>


</launch>
