<?xml version="1.0"?>

<launch>

  <!-- Args -->
  <arg name="frame_id_mesh_loaded"      default="map"/>
  <arg name="grid_map_layer_name"       default="elevation"/>
  <arg name="grid_map_resolution"       default="0.05"/>
  <arg name="latch_grid_map_pub"        default="true"/>
  <arg name="verbose"                   default="true"/>

  <!-- ===== Conversion to Gridmap =================================== -->
  <node name="mesh_to_grid_map_node" pkg="spirit_utils" type="mesh_to_grid_map_node" output="screen">
    <param name="frame_id_mesh_loaded"    value="$(arg frame_id_mesh_loaded)"/>
    <param name="grid_map_resolution"     value="$(arg grid_map_resolution)"/>
    <param name="layer_name"              value="$(arg grid_map_layer_name)"/>
    <param name="latch_grid_map_pub"      value="$(arg latch_grid_map_pub)"/>
    <param name="verbose"                 value="$(arg verbose)"/>
  </node>

</launch>
