<launch>
    <include file="$(find spirit_utils)/launch/load_params.launch" />

    <node name="mocap_node"
          pkg="mocap_optitrack"
          type="mocap_node"
          respawn="false"
          launch-prefix=""
          required="true">
        <rosparam file="$(find mocap_optitrack)/config/mocap.yaml" />
    </node>

    <!-- Launch the node to publish ground truth messages-->
    <node name="ground_truth_publisher" pkg="spirit_utils" type="ground_truth_publisher_node" output="screen"/>
    
</launch>
