<launch>
    <rosparam command="load" file="$(find spirit_utils)/../config/project_params.yaml"/>

    <!-- Launch the node to publish open loop control-->
    <node name="open_loop_controller" pkg="open_loop_controller" type="open_loop_controller_node" output="screen"/>

    <!-- Launch the mblink converter-->
    <node name="mblink_converter" pkg="mblink_converter" type="mblink_converter_node" output="screen"/>
    
</launch>
