<launch>

    <rosparam command="load" file="$(find spirit_utils)/../config/project_params.yaml"/>

    <arg name="controller" default="open_loop"/>
    <arg name="body_planner" default="global"/>

    <include file="$(find spirit_utils)/launch/mapping.launch" />

    <include file="$(find spirit_utils)/launch/planning.launch">
        <arg name="body_planner" value="$(arg body_planner)" />
    </include>

    <include file="$(find spirit_utils)/launch/visualization.launch" />

    <include file="$(find spirit_utils)/launch/robot_gazebo_driver.launch">
        <arg name="controller" value="$(arg controller)" />
    </include>

</launch>
