<launch>
  
    <include file="$(find spirit_utils)/launch/load_params.launch" />

    <arg name="body_planner" default="global"/>

    <!-- Launch the node to publish the global body plan -->
    <group if="$(eval arg('body_planner') == 'global')">
        <node name="global_body_planner" pkg="global_body_planner" type="global_body_planner_node" output="screen" />
    </group>

    <!-- Launch the node to publish the twist body plan -->
    <group if="$(eval arg('body_planner') == 'twist')">
        <node name="twist_body_planner" pkg="twist_body_planner" type="twist_body_planner_node" output="screen"/>
        <!--<node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="log"/>-->
    </group>

    <!-- Launch the node to publish the local plan -->
    <node name="local_planner" pkg="local_planner" type="local_planner_node" output="screen"/>

</launch>
