<launch>
  
    <include file="$(find spirit_utils)/launch/load_params.launch" />

    <arg name="body_planner" default="global"/>
    <arg name="mpc" default="true"/>

    <!-- Launch the node to publish the global body plan -->
    <group if="$(eval arg('body_planner') == 'global')">
        <node name="global_body_planner" pkg="global_body_planner" type="global_body_planner_node" output="screen" />
    </group>

    <!-- Launch the node to publish the twist body plan -->
    <group if="$(eval arg('body_planner') == 'twist')">
        <node name="twist_body_planner" pkg="twist_body_planner" type="twist_body_planner_node" output="screen"/>
        <!--<node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="log"/>-->
    </group>

    <!-- Launch the node to publish the local footstep plan -->
    <node name="local_footstep_planner" pkg="local_footstep_planner" type="local_footstep_planner_node" output="screen"/>

        <!-- Launch the node to publish the mpc controller -->
    <group if="$(arg mpc)">
        <node name="mpc_controller" pkg="mpc_controller" type="mpc_controller_node" output="screen"/>
    </group>

    <!-- Launch the node to publish the full plan -->
    <node name="plan_publisher" pkg="spirit_utils" type="trajectory_publisher_node" output="screen"/>

</launch>
