<launch>

    <rosparam command="load" file="$(find spirit_utils)/../config/project_params.yaml"/>

    <arg name="proxy" default="false"/>
    <arg name="controller" default="open_loop"/>
    <arg name="logging" default="false"/>
    <arg name="body_planner" default="global"/>

    <include file="$(find spirit_utils)/launch/mapping.launch" />

    <include file="$(find spirit_utils)/launch/planning.launch">
        <arg name="body_planner" value="$(arg body_planner)" />
    </include>

    <include file="$(find spirit_utils)/launch/visualization.launch" />

    <group if="$(arg logging)">
        <include file="$(find spirit_utils)/launch/logging.launch" />
    </group>

    <!-- Launch the robot_proxy if specified-->
    <group if="$(arg proxy)">
        <include file="$(find spirit_utils)/launch/robot_driver.launch">
            <arg name="proxy" value="true" />
            <arg name="controller" value="$(arg controller)" />
        </include>
    </group>

</launch>
