<launch>

    <include file="$(find spirit_utils)/launch/load_params.launch" />

    <arg name="proxy" default="false"/>
    <arg name="controller" default="inverse_dynamics"/>
    <arg name="logging" default="false"/>
    <arg name="plan" default="false"/>
    <arg name="live_plot" default="false"/>

    <!-- Launch the mapping and visualization nodes -->
    <include file="$(find spirit_utils)/launch/mapping.launch" />
    <include file="$(find spirit_utils)/launch/visualization.launch">
      <arg name="live_plot" value="$(arg live_plot)"/>
    </include>

    <!-- Launch the robot_proxy if specified-->
    <group if="$(arg proxy)">
        <include file="$(find spirit_utils)/launch/robot_driver.launch">
            <arg name="proxy" value="true" />
            <arg name="controller" value="$(arg controller)" />
            <arg name="logging" value="$(arg logging)" />
        </include>
    </group>

    <group if="$(arg plan)">
        <include file="$(find spirit_utils)/launch/execute_plan.launch">
            <arg name="logging" value="$(arg logging)"/>
        </include>
    </group>

    <!-- Start the heartbeat node -->
    <node name="remote_heartbeat" pkg="spirit_utils" type="remote_heartbeat_node"/>

</launch>
