<launch>

    <rosparam command="load" file="$(find spirit_utils)/../config/project_params.yaml"/>

    <arg name="with_proxy" default="false"/>
    <arg name="record" default="false"/>

    <include file="$(find spirit_utils)/launch/mapping.launch" />
    <include file="$(find spirit_utils)/launch/planning.launch" />
    <include file="$(find spirit_utils)/launch/visualization.launch" />

    <!-- Launch the robot_proxy if specified-->
    <group if="$(arg with_proxy)">
        <include file="$(find spirit_utils)/launch/robot_driver.launch">
            <arg name="with_proxy" value="$(arg with_proxy)" />
        </include>
    </group>

    <!-- Record into bag if specified-->
    <group if="$(arg record)">
        <include file="$(find spirit_utils)/launch/record.launch" />
    </group>

</launch>
