<launch>
    <rosparam command="load" file="$(find spirit_utils)/../config/project_params.yaml"/>

    <arg name="with_proxy" default="false"/>
    <arg name="with_mocap" default="false"/>
    <arg name="record" default="false"/>


    <include file="$(find spirit_utils)/launch/control.launch" />
    <include file="$(find spirit_utils)/launch/estimation.launch" />

    <!-- Launch the robot_proxy if specified-->
    <group if="$(arg with_proxy)">
        <node name="robot_proxy" pkg="spirit_utils" type="robot_interface_node" output="screen"/>
    </group>

    <!-- Launch the mblink converter unless using a proxy-->
    <group unless="$(arg with_proxy)">
        <node name="mblink_converter" pkg="mblink_converter" type="mblink_converter_node" output="screen"/>
    </group>

    <!-- Launch the mocap node if specified-->
    <group if="$(arg with_mocap)">
        <include file="$(find spirit_utils)/launch/mocap.launch" />
    </group>

        <!-- Record into bag if specified-->
    <group if="$(arg record)">
        <include file="$(find spirit_utils)/launch/record.launch" />
    </group>

</launch>
