<launch>
    <rosparam command="load" file="$(find spirit_utils)/../config/project_params.yaml"/>

    <arg name="logging" default="false"/>
    <arg name="controller" default="open_loop"/>

    <include file="$(find spirit_utils)/launch/control.launch">
        <arg name="controller" value="$(arg controller)" />
    </include>
    <!-- <include file="$(find spirit_utils)/launch/estimation.launch" /> -->

        <!-- Record into bag if specified-->
    <group if="$(arg logging)">
        <include file="$(find spirit_utils)/launch/logging.launch" />
    </group>

</launch>
