<!-- 
MIT License (modified)

Copyright (c) 2020 The Trustees of the University of Pennsylvania
Authors:
Vasileios Vasilopoulos <vvasilo@seas.upenn.edu>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this **file** (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE. 
-->

<launch>

  <arg name="gui" default="false"/>
  <arg name="paused" default="true"/>
  <arg name="robot_driver" default="true"/>
  <arg name="tail" default="false"/>

  <group if="$(arg robot_driver)">
      <include file="$(find spirit_utils)/launch/robot_driver.launch"/>
  </group>

  <!-- Launch the Spirit world with specific physics parameters -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="world_name" value="$(find gazebo_scripts)/worlds/ghost.world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="physics" value="ode"/>
  </include>

  <group if="$(arg tail)">
    <param name="robot_description" textfile="$(find spirit_description)/urdf/spirit_meshes_tail.urdf" />
    <param name="robot_description_sdf" textfile="$(find spirit_description)/sdf_mesh/spirit_tail.sdf" />
    <rosparam file="$(find gazebo_scripts)/config/spirit_control_tail.yaml" command="load"/>
    <rosparam file="$(find gazebo_scripts)/config/spirit_estimate_tail.yaml" command="load"/>
  </group>

  <group unless="$(arg tail)">
    <param name="robot_description" textfile="$(find spirit_description)/urdf/spirit_meshes.urdf" />
    <param name="robot_description_sdf" textfile="$(find spirit_description)/sdf_mesh/spirit.sdf" />
    <rosparam file="$(find gazebo_scripts)/config/spirit_control.yaml" command="load"/>
    <rosparam file="$(find gazebo_scripts)/config/spirit_estimate.yaml" command="load"/>
  </group>

  <!-- Spawn SDF model -->
  <node name="spawn_sdf_model" pkg="gazebo_ros" type="spawn_model" args="-sdf -param robot_description_sdf -model spirit -x 0.0 -y 0.0 -z 0.3 -J 1 1.632 -J 3 1.632 -J 5 1.632 -J 7 1.632 -J 0 0.816 -J 2 0.816 -J 4 0.816 -J 6 0.816" output="screen"/>

  <include file="$(find spirit_utils)/launch/load_params.launch" />
  
  <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        ns="/spirit"
        args="joint_controller joint_state_controller">
  </node>

  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="/spirit/joint_states" to="/mcu/state/jointURDF"/>
  </node> -->
  
</launch>