<?xml version="1.0"?>

<robot name="ylo2_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="stick_mass" value="0.00001"/>
    <xacro:property name="body_center_x" value="0.0"/>
    <xacro:property name="body_center_y" value="0.0"/>
    <xacro:property name="body_center_z" value="0.0"/>

    <!-- simplified collision value -->
    <xacro:property name="trunk_width" value="0.247"/>
    <xacro:property name="trunk_length" value="0.2687"/> <!-- à jour juillet 2023 -->
    <xacro:property name="trunk_height" value="0.150"/>

    <xacro:property name="hip_radius" value="0.050"/> <!-- hanche -->
    <xacro:property name="hip_length" value="0.0099"/> <!-- à jour juillet 2023 -->

    <xacro:property name="thigh_shoulder_radius" value="0.050"/> <!-- moteur épaule -->
    <xacro:property name="thigh_shoulder_length" value="0.0553"/>
    <xacro:property name="thigh_width" value="0.0374"/>
    <xacro:property name="thigh_height" value="0.043"/>
    
    <xacro:property name="calf_width" value="0.0208"/> <!-- mollet -->
    <xacro:property name="calf_height" value="0.016"/>

    <xacro:property name="stick_radius" value="0.01"/>
    <xacro:property name="stick_length" value="0.2"/>

    <xacro:property name="foot_radius" value="0.0265"/>
    <xacro:property name="toe_friction" value="0.2"/> <!-- bout / pied -->
    <xacro:property name="toe_lateral_friction" value="0.2"/>
    <xacro:property name="toe_stiffness" value="30000.0"/>
    <xacro:property name="toe_damping" value="1000.0"/>

    <!-- kinematic value -->
    <xacro:property name="hip_offset" value="0.083"/><!-- decalage lateral HIP -> upper_leg - lateral difference between HIP and upper_leg -->
    <xacro:property name="thigh_offset" value="0.02"/>
    <xacro:property name="thigh_length" value="0.201"/><!-- upper leg size, from HIP axis, to lower leg axis-->
    <xacro:property name="calf_length" value="0.230"/><!-- lower leg size, from lower leg axis to end foot -->

    <!-- leg offset from trunk center value -->
    <xacro:property name="leg_offset_x" value="${0.135}"/><!-- ecart centres HIP avant/arriere - HIP distance front/back -->
    <xacro:property name="leg_offset_y" value="${0.057}"/><!-- ecart centres HIP gauche/droite - HIP distance left/right-->
    <xacro:property name="leg_offset_z" value="${0.024}"/>
    <xacro:property name="trunk_offset_z" value="0.01675"/><!-- decalage hauteur axes pattes/abad - vertical difference HIP -> ABAD -->

    <!-- joint limits -->
    <xacro:property name="damping" value="0"/>
    <xacro:property name="friction" value="0"/>
    <xacro:property name="hip_max" value="0.80"/>
    <xacro:property name="hip_min" value="-0.80"/>
    <xacro:property name="hip_velocity_max" value="40"/>
    <xacro:property name="hip_torque_max" value="15
    "/>
    <xacro:property name="thigh_max" value="360"/>
    <xacro:property name="thigh_min" value="-360"/>
    <xacro:property name="thigh_velocity_max" value="40"/>
    <xacro:property name="thigh_torque_max" value="15"/>
    <xacro:property name="calf_max" value="360"/>
    <xacro:property name="calf_min" value="-360"/>
    <xacro:property name="calf_velocity_max" value="13.33"/>
    <xacro:property name="calf_torque_max" value="45"/>

    <!-- dynamics inertial value -->
    <!-- trunk -->
    <xacro:property name="trunk_mass" value="5.3"/>

    <xacro:property name="trunk_com_x" value="0.02"/>
    <xacro:property name="trunk_com_y" value="0.00194"/>
    <xacro:property name="trunk_com_z" value="0.0"/>

    <xacro:property name="trunk_ixx" value="0.0158533"/>
    <xacro:property name="trunk_ixy" value="-0.0001332"/>
    <xacro:property name="trunk_ixz" value="-0.0002403"/>
    <xacro:property name="trunk_iyy" value="0.04168"/>
    <xacro:property name="trunk_iyz" value="0.000015299"/>
    <xacro:property name="trunk_izz" value="0.04742"/>

    <!-- hip (left front) -->
    <xacro:property name="hip_mass" value="0.599"/> <!-- motor+fix+passe-cable+cable / à jour juillet 2023 -->

    <xacro:property name="hip_com_x" value="0.02605545"/>
    <xacro:property name="hip_com_y" value="0.00378165"/>
    <xacro:property name="hip_com_z" value="0.00129535"/>

    <xacro:property name="hip_ixx" value="0.00045201"/>
    <xacro:property name="hip_ixy" value="0.00001134"/>
    <xacro:property name="hip_ixz" value="0.00000018"/>
    <xacro:property name="hip_iyy" value="0.00077005"/>
    <xacro:property name="hip_iyz" value="-0.00000029"/>
    <xacro:property name="hip_izz" value="0.00052038"/>

    <!-- thigh / upperleg -->
    <xacro:property name="thigh_mass" value="1.080"/>  <!-- moteur+coques+pignon+axe+fixation hip+poulie nylon+passe-cable+cables / à jour juillet 2023 -->

    <xacro:property name="thigh_com_x" value="0.01947981"/>
    <xacro:property name="thigh_com_y" value="0.060999"/>
    <xacro:property name="thigh_com_z" value="-0.035487"/>

    <xacro:property name="thigh_ixx" value="0.00603314"/>
    <xacro:property name="thigh_ixy" value="0.00001331"/>
    <xacro:property name="thigh_ixz" value="-0.00003369"/>
    <xacro:property name="thigh_iyy" value="0.00604551"/>
    <xacro:property name="thigh_iyz" value="0.00045820"/>
    <xacro:property name="thigh_izz" value="0.00110251"/>

    <!-- calf / lowerleg -->
    <xacro:property name="calf_mass" value="0.235"/> <!-- à jour juillet 2023 -->

    <xacro:property name="calf_com_x" value="0.00198597"/>
    <xacro:property name="calf_com_y" value="0.00042353"/>
    <xacro:property name="calf_com_z" value="-0.05849061"/>

    <xacro:property name="calf_ixx" value="0.00065666"/>
    <xacro:property name="calf_ixy" value="0.00000000"/>
    <xacro:property name="calf_ixz" value="0.00003548"/>
    <xacro:property name="calf_iyy" value="0.00067446"/>
    <xacro:property name="calf_iyz" value="-0.00000000"/>
    <xacro:property name="calf_izz" value="0.00004729"/>

    <!-- foot -->
    <xacro:property name="foot_mass" value="0.035"/> <!-- à jour juillet 2023 -->

    <xacro:property name="foot_com_x" value="-0.00666599"/>
    <xacro:property name="foot_com_y" value="0.00037249"/>
    <xacro:property name="foot_com_z" value="-0.03499840"/>

    <xacro:property name="foot_ixx" value="0.00003016"/>
    <xacro:property name="foot_ixy" value="0.00000002"/>
    <xacro:property name="foot_ixz" value="-0.00000421"/>
    <xacro:property name="foot_iyy" value="0.00003071"/>
    <xacro:property name="foot_iyz" value="0.00000024"/>
    <xacro:property name="foot_izz" value="0.00001411"/>
</robot>
